{{ define "main" }}
    {{ partial "header" . }}

    <div class="content">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-12 col-md-10">
                    <div class="markdown">
                        {{ partial "content" . }}
                    </div>
                    
                    {{ if isset .Site.Params "best_posts" }}
                        <div class="mx-0 mx-md-4 best-posts">
                            <div class="page-heading">📌 Pinned</div>
                            <ul>
                                {{ range .Site.Params.best_posts }}
                                    <li>
                                        <a href="{{ .url }}">{{ .title }}</a>
                                    </li>
                                {{ end }}
                            </ul>
                        </div>
                    {{ end }}
                    
                    {{ if isset .Site.Params "latestpostcount" }}
                        <div class="mx-0 mx-md-4 posts">
                            {{ $nbPosts := len (where .Site.RegularPages "Section" "blog") }}

                            {{ if gt $nbPosts 0 }}
                                <div class="page-heading">Latest posts</div>
                                <ul class="px-0">
                                    {{ range (first .Site.Params.latestpostcount (where .Site.RegularPages "Section" "blog")).GroupByDate "Jan, 2006" "desc" }}
                                        {{ range sort .Pages "Date" "desc" }}
                                            {{ partial "list" . }}
                                        {{ end }}
                                    {{ end }}
                                </ul>

                                {{ if gt $nbPosts .Site.Params.latestpostcount }}
                                    <a href="./blog/" class="font-italic mt-4 see-more">See more posts...</a>
                                {{ end }}
                            {{ end }}
                        </div>
                    {{ end }}
                    
                    <!-- NEW: Community / License / Netlify text with separator line -->
                    <br>
                    <div class="mx-0 mx-md-4 mt-4 mb-4">
                        <hr>
                        <p class="small text-muted mt-3">
                            This project follows a <a href="/code-of-conduct/">Code of Conduct</a>
                            to help maintain a respectful and welcoming community. Except where otherwise noted, the content is licensed under the
                            <a href="https://creativecommons.org/licenses/by/4.0/">CC BY 4.0</a> license, encouraging reuse with proper attribution.
                            This site is powered by <a href="https://www.netlify.com/">Netlify</a>.
                        </p>
                    </div>
                    <!-- END -->
                    
                </div>
            </div>
        </div>
    </div>

    {{ partial "footer" . }}
{{ end }}
